@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Press+Start+2P&display=swap');
@font-face {
    font-family: "Arrows";
    src: url('assets/Arrows.ttf');
}

body {
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(6, 26, 0);
}

.titulo {
    font-family: 'Gloria Hallelujah', cursive;
    color: rgb(121, 255, 121);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
h1, .criador {
    margin: 0px;
}


.perdeu {
    color: rgb(17, 0, 32);
    font-weight: bold;
    width: 500px;
    font-size: 60px;
    position: fixed;
    margin-top: 50px;
    display: none;
    flex-direction: column;
    font-family: 'Gloria Hallelujah', cursive;
    font-family: 'Press Start 2P', cursive;
}

.warapp {
    text-align: center;
    transform: scale(0.7);
}

.calculoF {
    font-size: 30px;
    text-align: center;
}

.score {
    display: flex;
    position: fixed;
    font-size: 20px;
    margin: 10px;
}

.container {
    display: block;
    position: fixed;
    margin-top: 80vh;
}

.botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.horizontal{
    display: flex;
    flex-direction: row;
}
.botao {
    background-color: rgb(255, 255, 4);
    border: 5px solid #000;
    border-radius: 3px;
    height: 50px;
    width: 80px;
    font-size: 40px;
    font-family: 'Arrows';
}
.divid{
    width: 80px;
}
.imagens{
    display: none;
}

.btaJogar{
    z-index: 1001;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    background-color: rgb(255, 255, 4);
    border: 5px solid #000;
    border-radius: 20px;
   
    height: 60px;
}

@media (max-width: 1000px) {
    body {
        height: 90vh;
        width: auto;
    }
    .titulo{
        position: fixed;
        z-index: 100;
        top: 10px;
    }
    .warapp {
        transform: scale(0.5);
        position: fixed;
    }
    .container {
        display: block;
    }
}